@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/SpaceGrotesk-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/SpaceGrotesk-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/SpaceGrotesk-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/SpaceGrotesk-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./static/SpaceGrotesk-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
