.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 430px;
  height: 100%;
  background-color: var(--color-white);
  display: none;
  z-index: 2000;
  padding: 50px 25px;
  box-shadow:
    rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  animation: closeModal 0.3s linear;
}

.modal_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.button_close {
  position: absolute;
  top: 53px;
  right: 25px;
  width: 24px;
  height: 24px;
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: var(--b-radius-round);
}

@media screen and (max-width: 1440px) {
  .backdrop.menu_shown {
    display: block;
    transform: translateX(0);
    animation: openModal 0.3s linear;
  }
}

@keyframes openModal {
  from {
    display: none;
    transform: translateX(100%);
  }

  to {
    display: block;
    transform: translateX(0);
  }
}

@keyframes closeModal {
  from {
    display: block;
    transform: translateX(0);
  }
  to {
    display: none;
    transform: translateX(100%);
  }
}
