.section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(40px);
  opacity: 0.5;
  transition:
    transform 0.3s linear,
    opacity 0.3s linear;
}

.section.inView {
  opacity: 1;
  transform: translateY(0);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  padding: 60px 20px 4px 20px;
  overflow-y: hidden;
}

.container.last {
  padding: 60px 20px 90px 20px;
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 140px 0 0 0;
  }

  .container.last {
    padding: 140px 0;
  }
}
