.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  background-color: var(--color-dark-2);
  padding: 50px 20px 30px 20px;
  color: var(--color-white);
}

.container > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-items: center;
  gap: 37px;
  width: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1241px;
    border-top-right-radius: var(--b-radius-2);
    border-top-left-radius: var(--b-radius-2);
  }
  .container > div {
    grid-template-columns: 332px 1fr 130px;
  }

  .divider {
    grid-column: 1/4;
    grid-row: 3/4;
  }
}
