.custom_field {
  width: 100%;
  position: relative;
}

.field {
  width: 100%;
  outline: none;
  border: 1px solid var(--color-dark-1);
  padding: 18px 20px;
  border-radius: var(--b-radius);
  font-size: var(--text-size-sm);
  line-height: 1;
  color: var(--color-dark);
  background-color: var(--color-white);
  transition: all 0.3s linear;
}

.field:hover,
.field:focus {
  outline: 2px solid var(--color-green);
  border: 1px solid var(--color-green);
}

.field.transparent {
  background-color: transparent;
  border: 1px solid var(--color-white);
  padding: 21px 25px;
}

.field::placeholder {
  color: var(--color-grey-placeholder);
}

.field.field.transparent::placeholder {
  color: var(--color-white);
}

.custom_field > label {
  display: inline-block;
  font-size: var(--text-size-xs);
  margin-bottom: 10px;
  line-height: 1.2857;
  text-transform: capitalize;
}

.error {
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
  color: var(--color-red-error);
  font-size: var(--text-size-xs);
  z-index: 33;
}

@media screen and (min-width: 1440px) {
  .custom_field > label {
    font-size: var(--text-size-sm);
  }

  .field {
    font-size: var(--text-size-sm2);
  }

  .field.transparent {
    padding: 22px 35px;
  }
}
