.title_container {
  text-align: center;
  margin-bottom: 50px;
}

.title_container > h2 {
  margin-bottom: 30px;
  font-size: var(--text-size-2xl);
  line-height: 1.2777;
}

.title_container > p {
  font-size: var(--text-size-sm);
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .title_container {
    display: flex;
    align-items: center;
    column-gap: 40px;
    text-align: left;
    margin-bottom: 85px;
  }

  .title_container > p {
    font-size: var(--text-size-sm2);
  }

  .title_container > h2 {
    margin-bottom: 0;
    font-size: var(--text-size-3xl);
    line-height: 1.275;
  }
}
