.link {
  font-size: 20px;
  line-height: 1.4;
  color: var(--color-dark-1);
  text-decoration: none;
}

.leftArrow {
  position: relative;
  display: block;
  width: 41px;
  height: 41px;
  border-radius: var(--b-radius-round);
  background-color: var(--color-dark-2);
}

.leftArrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  content: '';
  background-color: var(--color-white);
  -webkit-mask: url(../../assets/images/svg/arrow.svg) no-repeat 100% 100%;
  mask: url(../../assets/images/svg/arrow.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.leftArrow.left_arrow_dark {
  background-color: var(--color-white);
}

.left_arrow_dark.leftArrow::before {
  background-color: var(--color-dark-2);
}

.rightArrow {
  display: flex;
  align-items: center;
  color: var(--color-green);
}

.rightArrow::before {
  content: attr(data-name);
}

.rightArrow::after {
  content: '';
  display: inline-block;
  position: relative;
  left: 15px;
  width: 28px;
  height: 28px;
  background-color: var(--color-green);
  -webkit-mask: url(../../assets/images/svg/arrow.svg) no-repeat 100% 100%;
  mask: url(../../assets/images/svg/arrow.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.link_wrapper {
  display: inline-block;
  width: 51px;
  border-radius: var(--b-radius);
  padding: 5px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  background-position: 200%;
  transition: all 0.3s linear;
}

.link_wrapper:hover,
.link_wrapper:focus {
  background-position: 0;
  transform: scale(1.05);
}

@media screen and (hover: none) {
  .link_wrapper:active {
    background-position: 0;
    transform: scale(1.05);
  }
}

@media screen and (min-width: 1440px) {
  .leftArrow::after {
    content: attr(data-name);
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
    transform: translateY(-50%);
    display: inline-block;
    width: max-content;
    color: var(--color-dark-1);
    font-size: 20px;
    line-height: 1.4;
  }

  .left_arrow_dark.leftArrow::after {
    color: var(--color-white);
  }

  .link_wrapper {
    width: 200px;
  }
}
